body{
    text-align: center;
  }
  #navbar{
    position: fixed;
    width: 100%;
    z-index: 10;
  }
  #four{
    color: red;
    font-family: 'Permanent Marker', cursive;
  }
  .navbar-brand{
    font-family: 'Patrick Hand', cursive;
    font-size: 1.6rem;
  }
  .jumbotron{
    padding-top: 7rem;
  }
  .card{
    margin: 0 2rem 0 2rem;
  }
  #bottomBav{
    margin-top: 100rem;
  }
  .card-deck{
    margin-bottom: 5rem;
  }
  .nav-item{
    text-align: right;
  }
  .card{
      box-shadow: 0px 0px 0px;
      cursor: pointer;
  }
  #card1:hover{
    box-shadow: 0px 0px 15px;
  }
  #card2:hover{
    box-shadow: 0px 0px 15px;
  }
  #card3:hover{
    box-shadow: 0px 0px 15px;
  }
  
  /* ***Registration Page*** */

  .form{
    padding: 5rem 0 5rem 0;
  }